body {
  background-color: #f3f3f3;
}

#main {
  position: relative;
  top: 85px;
}

header {
  z-index: 100;
  background-color: white;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 85px;
}

#fotomatic {
  position: relative;
  color: black !important;
  margin-left: 30px;
  top: 29px;
}

nav {
  position: relative;
  top: 29px;
}

nav, ul {
  display: inline;
}

nav li {
  position: relative;
  margin-right: 30px;
}

#nav1 {
  float: right;
  margin-right: 30px;
}

header li {
  display: inline-block;
}

header li a, #fotomatic {
  font-size: 16px;
  font-family: Roboto;
  line-height: 1.6;
  text-decoration: none;
  color: #4a4a4a;
}
#icon {
  max-width: 100%;
  height: 20px;
  margin-left: 4px;
  position: absolute;
}

#banner {
  position: relative;
  background-image: url("../images/banner-landingpage.jpg");
  background-size: cover;
  width: 100%;
  max-height: 800px;
  bottom: 0;
}

#menu {
  margin: 170px 100px;
  display: inline-block;
  text-align: center;
  background-color: #9dc20b;
  border: solid 1px #979797;
  overflow: auto;
}

#menu h4 {
  margin: 0;
  margin-top: 32px;
  font-family: "Damion", cursive;
  font-size: 2.25rem;
  color: white;
}

#menu h2 {
  margin: 0;
  display: block;
  font-family: "Rubik", sans-serif;
  padding-bottom: .75rem;
  font-size: 50px;
  margin: 12px;
  color: white;
  text-transform: uppercase;
}

#menu p {
  font-family: Roboto-Regular;
  color: white;
  font-size: 20px;
  line-height: 1.4;
  margin: 0;
}

#menu button {
  width: 408px;
  height: 64px;
  background-color: #4a4a4a;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  font-family: Roboto-Medium;
  margin: 26px 80px 56px;
}

#mid {
  position: relative;
}

#mid img {
  text-align: center;
  width: 100%;
}

#fs {
  margin-top: 64px;
  margin-left: 3% ;
  display: inline-flex;
}

.f1 {
  flex-direction: column;
  max-width: 45%;
  text-align: center;
  vertical-align: top;
  margin: 0px 38px 46px 0;
  padding: 32px;
  background-color: white;
}

#blank {
  visibility: hidden;
}

#mid p {
  margin: o;
  margin-top: 15px;
  color: #4a4a4a;
  font-size: 18px;
  font-family: Roboto-light;
  line-height: 1.4;
  vertical-align: baseline;
}

#mid div h2 {
  color: #4a4a4a;
  font-size: 36px;
  font-family: Roboto-Bold;
  line-height: 1.2;
}

#mid div .content {
  padding: 40px 42px;
}

#super {
  position: relative;
}

#bot {
  background-color: #4a4a4a;
  text-align: center;
  width: 100%;
  overflow:hidden;
}

#bot img {
  display: inline-flex;
  width: 24.50%;
  float: left;
  margin-bottom: 64px;
  margin-top: 70px;
}

#l {
  margin-left: 1%;
}

#r {
  margin-right: 1%;
}

#bot h2 {
  margin-top: 64px;
  margin-bottom: 10px;
  color: white;
  font-size: 36px;
  font-family: Roboto-bold;
}

#bot h3 {
  font-family: Roboto-light;
  font-size: 18px;
  color: white;
  line-height: 1.4;
}

#quote * {
  display: inline-flex;
}

#quote {
  text-align: center;
}

#quote p {
  margin: 80px 30px;
  color: #4a4a4a;
  font-style: italic;
  font-size: 30px;
  font-family: Palatino;
  line-height: 1.1;
}

#quote img {
  position: flex;
  top: 7px;
}

footer {
  height: 62px;
  background-color: #9b9b9b;
}

footer * {
  display: inline-flex;
}

#s {
  margin: 23px 32px;
  float: right;
}

#f {
  margin: 23px 32px;
}